// Home
.home {
    &__container {
        gap: 1rem;
    }
    
    &__content {
        grid-template-columns: .5fr 3fr;
        padding-top: 3.5rem;
        align-items: center;
    }

    &__social {
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;

        &-icon {
            font-size: 1.25rem;
            color: var(--first-color);

            &:hover {
                color: var(--first-color-alt);
            }
        }
    }

    &__blob {
        width: 200px;
        fill: var(--first-color);

        &-img {
            width: 640px;
        }
    }

    &__data {
        grid-column: 1 / 3;
    }

    &__title {
        font-size: var(--big-font-size);
    }

    &__subtitle {
        font-size: var(--h3-font-size);
        color: var(--text-color);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-0-75);
    }

    &__description {
        margin-bottom: var(--mb-2);
    }

    &__scroll {
        display: none;

        &-button {
            color: var(--first-color);
            transition: .3s;

            &:hover {
                transform: translateY(.25rem);
            }
        }

        &-mouse {
            font-size: 2rem;
        }

        &-name {
            font-size: var(--small-font-size);
            color: var(--title-color);
            font-weight: var(--font-medium);
            margin-right: var(--mb-0-25);
        }

        &-arrow {
            font-size: 1.25rem;
        }
    }
}